/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* REMOVE SCROLL */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

/* CARD */
.card,
.account-box {
  width: 375px;
  height: 90vh;
  max-height: 650px;

  background: #fff;
  border-radius: 0;
  border: 1px solid #777;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
}


.space-between {
  display: flex;
  flex-direction: column;
  height: 100%;


}

.space-between h2 {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 15px;
}


.space-between h2 {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.3;
}

.space-between .input-group {
  margin-bottom: 12px;
}

.space-between .input-group input {
  padding: 12px 10px 6px;
  font-size: 13px;
}

.space-between p {
  margin-bottom: 4px;
}

.space-between .radio-group {
  margin-top: 2px;
  gap: 10px;
}

.space-between .primary {
  padding: 10px;
  font-size: 13px;
  margin-top: auto;
  margin-bottom: 12px;
}

.space-between>div {
  flex: 1;

}

.login-text {
  margin-bottom: 20px;
}


.card p {
  margin-bottom: 20px;
}


.space-between .primary {
  margin-top: auto;
  margin-bottom: 12px;
}

/* WELCOME ALIGN */
.bottom {
  justify-content: flex-end;
  gap: 10px;
}

/* HEADINGS */
h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.header {
  font-size: 16px;
  margin-bottom: 10px;
}

/* TEXT */
p {
  font-size: 14px;
  color: #777;
  margin-bottom: 6px;
  /* reduced gap */
}

/* INPUT GROUP */
.input-group {
  position: relative;
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 13px 10px 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* LABEL */
.input-group label {
  position: absolute;
  top: -7px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 11px;
  color: #6c25ff;
}

/* RADIO GROUP */
.radio-group {
  display: flex;
  gap: 15px;
  margin-top: 2px;
}

.radio-group label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

/* RADIO FIX */
input[type="radio"] {
  appearance: auto;
  margin-right: 5px;
  accent-color: #6c25ff;
}

/* BUTTONS */
.primary {
  width: 100%;
  padding: 5px;
  background: #6c25ff;
  color: #fff;
  border: solid black;
  border-radius: 6px;
  font-size: 14px;
}

.login-btn {
  background: #ccc;
}

.secondary {
  width: 100%;
  padding: 10px;
  background: #eee5ff;
  color: #6c25ff;
  border: none;
  border-radius: 6px;
}

/* ACCOUNT PAGE */
.profile {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

/* IMAGE */
.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

/* CAMERA ICON */
.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #6c25ff;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
}

/* DETAILS */
.details {
  margin-left: 12px;
}

.email {
  font-size: 13px;
  color: #777;
}

/* DOTTED LINE AFTER PROFILE */
.profile::after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: -15px;
  border-top: 1px dashed #ccc;
}

/* DESCRIPTION */
.desc {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}

/* BOTTOM LINE */
.account-box .bottom {
  margin-top: auto;
  padding-top: 15px;

  border-top: 1px dashed #ccc;
  margin-left: -20px;
  margin-right: -20px;
}